/*imports*/
/*BOOTSTRAP ICON*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
/*END BOOTRAPS ICON*/
/*GOOGLE FONTS*/

/*END GOOGLE FONTS*/
/*NAVIGATOR*/
.bg__nav{
    background-color: #F1F1F1;
}
.logo__nav{
    height: 1.5rem;
}
.navbar-brand{
    padding-left: 13rem;
}
.navbar-collapse{
    padding-right: 13rem;
}